IoT_healthcare_buzzer_flow.json
[{"id":"37001a46.522466","type":"tab","label":"Flow 1"},{"id":"a1af6481.4ae048","type":"subflow","name":"Alarm/Alert check","info":"","in":[{"x":63,"y":109,"wires":[{"id":"cb8ed828.2e8388"}]}],"out":[{"x":751,"y":111,"wires":[{"id":"34156135.0bf05e","port":1},{"id":"34156135.0bf05e","port":0}]},{"x":1044,"y":195,"wires":[{"id":"4128b47.7794e4c","port":0}]}]},{"id":"bf2bd5e9.a88518","type":"subflow","name":"Alert Service Engineer","info":"","in":[{"x":70.44444274902344,"y":98.11110305786133,"wires":[{"id":"d9bd9a93.48a658"}]}],"out":[]},{"id":"9480264c.483d68","type":"ibmiot","z":"","name":"yuvarajapi","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"2c51b2f.0b49a4e","type":"mqtt-broker","z":"37001a46.522466","broker":"xvs2ab.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:xvs2ab:yuvarajdev:HealthCare","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5723981a.758318","type":"mqtt-broker","z":"37001a46.522466","broker":"xd8sc0.messaging.internetofthings.ibmcloud.com","port":"8883","clientid":"d:xd8sc0:yuvarajdemo:yuvarajdevid","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"1463f281.4e6a4d","type":"ibmiot","z":"","name":"yuvarajapi","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"82458177.2afb7","type":"ibmiot","z":"","name":"yuvarajapi","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"2a3ab88.abdce48","type":"mqtt-broker","z":"","broker":"demohealthcariot.mybluemix.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"25f87ac0.1529b6","type":"ibmiot","z":"","name":"yuvarajapi","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"d83fe337.7db82","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"38faa66d.f8ea4a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c6a36cd0.13cd8","type":"ui_group","z":"","name":"Default","tab":"38faa66d.f8ea4a","disp":true,"width":"6"},{"id":"47a4e02.1bd332","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ffff80","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3232c786.d73548","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4439a916.c7a168","type":"ui_group","z":"","name":"Thermostat Status","tab":"5437d63e.d52b68","order":1,"disp":true,"width":"6"},{"id":"f0131796.8a97f8","type":"ui_tab","z":"","name":"Alert","icon":"dashboard","order":2},{"id":"b1776bec.162b18","type":"Device Schema","z":"","deviceType":"Thermostat","props":[{"guid":"7c896d407b7f","name":"ActualTemperature","defaultValue":{"type":"num","value":"32"}},{"guid":"50347ee435f0","name":"DesiredTemperature","defaultValue":{"type":"num","value":"23"}},{"guid":"be6df8b37d4d","name":"Location","defaultValue":{"type":"str","value":"Store1: Room1"}},{"guid":"059f72daa821","name":"assetID","defaultValue":{"type":"str","value":"1234"}}],"evts":[{"guid":"a0f0dab2a891","name":"getActualTemperature","payload":{"properties":{"0":"7c896d407b7f","length":1,"prevObject":{"0":"7c896d407b7f","length":1,"prevObject":{"0":{},"length":1,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37186,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}},{"guid":"f5e261ed3706","name":"getAll","payload":{"properties":{"0":"7c896d407b7f","1":"50347ee435f0","2":"be6df8b37d4d","3":"059f72daa821","length":4,"prevObject":{"0":"7c896d407b7f","1":"50347ee435f0","2":"be6df8b37d4d","3":"059f72daa821","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37187,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}},{"guid":"db8c816b19bb","name":"getDesiredTemperature","payload":{"properties":{"0":"50347ee435f0","length":1,"prevObject":{"0":"50347ee435f0","length":1,"prevObject":{"0":{},"length":1,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37188,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}},{"guid":"8c11465b27e5","name":"getLocation","payload":{"properties":{"0":"be6df8b37d4d","length":1,"prevObject":{"0":"be6df8b37d4d","length":1,"prevObject":{"0":{},"length":1,"prevObject":{"0":{"sizzle1491392585859":{"parentNode":[37189,51,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"length":1},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}},"context":{"sizzle1491392585859":{"parentNode":[35964.12994627998,29,true]}}}}}]},{"id":"5437d63e.d52b68","type":"ui_tab","z":"","name":"Status ","icon":"dashboard","order":3},{"id":"b37132b1.9333f","type":"ibmiot in","z":"37001a46.522466","authentication":"apiKey","apiKey":"1463f281.4e6a4d","inputType":"evt","deviceId":"yuvarajdevid","applicationId":"","deviceType":"yuvarajdemo","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":true,"allFormats":true,"qos":"0","x":100,"y":400,"wires":[["e2cdcf0f.f7633"]]},{"id":"e2cdcf0f.f7633","type":"function","z":"37001a46.522466","name":"temp","func":"return {payload:{\"name\":\"bpmPr\",\"bpmPrvalue\":msg.payload.bpmPr}};","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["2138599d.ea85e6"]]},{"id":"2138599d.ea85e6","type":"switch","z":"37001a46.522466","name":"temp thresh","property":"payload.bpmPrvalue","propertyType":"msg","rules":[{"t":"lte","v":"90","vt":"str"},{"t":"gt","v":"90","vt":"str"}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["524ebf41.b3068"],["5cd29ede.b248"]]},{"id":"3ab51d88.a2f6a2","type":"debug","z":"37001a46.522466","name":"cpu status","active":true,"complete":"payload","x":790,"y":400,"wires":[]},{"id":"524ebf41.b3068","type":"template","z":"37001a46.522466","name":"safe","field":"payload.bpmPrValue","fieldType":"msg","syntax":"mustache","template":"BpmPr ({{payload.bpmPrValue}}) within safe limits","x":610,"y":380,"wires":[["3ab51d88.a2f6a2"]]},{"id":"5cd29ede.b248","type":"template","z":"37001a46.522466","name":"danger","field":"payload.bpmPrValue","fieldType":"msg","syntax":"mustache","template":"bpmPr ({{payload.bpmPrValue}}) critical","x":620,"y":420,"wires":[["3ab51d88.a2f6a2","31cf643e.4623ac"]]},{"id":"995b9459.0e00a8","type":"ibmiot out","z":"37001a46.522466","authentication":"apiKey","apiKey":"25f87ac0.1529b6","outputType":"cmd","deviceId":"yuvarajdevid","deviceType":"yuvarajdemo","eventCommandType":"buzzer","format":"json","data":"temp:10","qos":"0","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"31a5e01c.0e589","type":"inject","z":"37001a46.522466","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["9ca80dfc.fa1f1"]]},{"id":"9ca80dfc.fa1f1","type":"function","z":"37001a46.522466","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["995b9459.0e00a8","851a2d30.a2253"]]},{"id":"851a2d30.a2253","type":"debug","z":"37001a46.522466","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"6971d509.c619ec","type":"comment","z":"37001a46.522466","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"6052eaef.167b44","type":"comment","z":"37001a46.522466","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"fae9950.2514068","type":"comment","z":"37001a46.522466","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"e7196094.8a637","type":"comment","z":"37001a46.522466","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"8530dc67.69d54","type":"comment","z":"37001a46.522466","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"31cf643e.4623ac","type":"ibmiot out","z":"37001a46.522466","authentication":"apiKey","apiKey":"82458177.2afb7","outputType":"cmd","deviceId":"yuvarajdevid","deviceType":"yuvarajdemo","eventCommandType":"buzzer","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":917,"y":473,"wires":[]},{"id":"6a199383.cf366c","type":"function","z":"37001a46.522466","name":"Device payload","func":"rndbp=Math.floor(Math.random()* (150-70) + 70);\nrndsp=Math.round(Math.random()*100);\nrndpi=Math.round(Math.random()*80);\n\nmsg.payload = {\n \t \n \"PatientNode\":\"Yuvaraj\",\n \"BedMonitor\":\"P4\",\n \"Device\":\"HealthCare\",\n \"DeviceRecord\":\"1\",\n \"bpmPr\": rndbp, //Random Number\n \"Spo2\": rndsp, //Random Number\n \"perfusionIndex\": rndpi, //RandomNumber\n \"BedNumber\":\"101\"\n \t }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":428,"y":582,"wires":[["e2cdcf0f.f7633"]]},{"id":"45c016d0.9d5678","type":"inject","z":"37001a46.522466","name":"","topic":"","payload":"","payloadType":"num","repeat":"10","crontab":"","once":false,"x":146,"y":567,"wires":[["6a199383.cf366c"]]},{"id":"34156135.0bf05e","type":"switch","z":"a1af6481.4ae048","name":"AlarmConditionCheck","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutOutTemperature","vt":"global"},{"t":"lt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":2,"x":547,"y":110,"wires":[[],[]]},{"id":"cb8ed828.2e8388","type":"function","z":"a1af6481.4ae048","name":"SetDefaultNormalTemperatures","func":"if(!context.global.hasOwnProperty(\"CutOutTemperature\"))\n    context.global.CutOutTemperature=20;\nif(!context.global.hasOwnProperty(\"CutInTemperature\"))\n    context.global.CutInTemperature=10;\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":109,"wires":[["34156135.0bf05e","2a4e7fda.87026"]]},{"id":"2a4e7fda.87026","type":"switch","z":"a1af6481.4ae048","name":"GreaterThanCutInTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":576,"y":195,"wires":[["4128b47.7794e4c"]]},{"id":"4128b47.7794e4c","type":"switch","z":"a1af6481.4ae048","name":"LessThanCutOutTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"lt","v":"CutOutTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":863,"y":195,"wires":[[]]},{"id":"7b27acb8.a2c204","type":"comment","z":"a1af6481.4ae048","name":"Alert Condition Check","info":"","x":544,"y":158,"wires":[]},{"id":"127a46c8.255a49","type":"comment","z":"a1af6481.4ae048","name":"Alarm Condition Check","info":"Alarms and Alerts are raised as per the value\nof the current temperature .They are influenced \nby fllowing parameters.\n1.CutIn Temperature.\n2.CutOut temperature.\n\nIf temperature is lower than CutIn temperature \nand higher than CutOut temperature Alarms\nwill be raised .\n\nIf temperature is between CutIn and CutOut \ntemperature Alerts will be raised","x":119,"y":51,"wires":[]},{"id":"d9bd9a93.48a658","type":"function","z":"bf2bd5e9.a88518","name":"CofiugureEmailID","func":"if(context.global.hasOwnProperty(\"email\"))\n    msg.to=context.global.email;\nelse{\n    //This is a dummy email id\n    context.global.email=\"monitoringserviceengineer@yourorg.com\";\n    msg.to=context.global.email;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":225.44444274902344,"y":98.11110305786133,"wires":[["f0fed41a.20a628"]]},{"id":"92204dde.dec37","type":"e-mail","z":"bf2bd5e9.a88518","server":"smtp.gmail.com","port":"465","name":"","dname":"ServiceEngineerAlert","x":933.3333206176758,"y":92.11112213134766,"wires":[]},{"id":"b26d1600.6e31d8","type":"switch","z":"bf2bd5e9.a88518","name":"AlertNecessityCheck","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":695,"y":98.22221946716309,"wires":[["92204dde.dec37"],[]]},{"id":"f0fed41a.20a628","type":"function","z":"bf2bd5e9.a88518","name":"AlertFrequencyCheck","func":"\n\nif(context.global.hasOwnProperty(\"LastMessageTime\")){\n    var now = ( new Date() ).getTime();\n    var lastMessageTime=context.global.LastMessageTime;\n    var alertFrequencyChange=context.global.alertFrequencyChange;\n    if ((now-lastMessageTime)/1000 >alertFrequencyChange)\n    context.global.NeedFlow=1;\n    else\n     context.global.NeedFlow=0;\n context.global.LastMessageTime=now;\n}else\n{\n    context.global.NeedFlow=1;\n    var now = ( new Date() ).getTime();\n    context.global.LastMessageTime=now;\n}\nmsg.data=context.global.NeedFlow;\n\nreturn msg;","outputs":1,"noerr":0,"x":460.27779388427734,"y":97.91669845581055,"wires":[["b26d1600.6e31d8"]]},{"id":"866d025.31577","type":"comment","z":"bf2bd5e9.a88518","name":"Service Engineer Notification","info":"Sends Email as notification in case of Alram situation.","x":140,"y":43,"wires":[]}]